.job-details-page {
    display: flex;
    flex-direction: row; 
    min-height: none;
    width: 100vw;
}

.details {
    display: flex;
    flex-direction: column;
    
    width: 75vw;
}
aside{
    margin-top: 56px;
    width: 402px;
    background: #2A3047;
    border-radius: 8px;
    color: white;
    text-align: left;
    padding: 63px 31px 63px 31px;
}