.job-details-page {
    display: flex;
    flex-direction: row; 
    min-height: none;
}
.job-details {
    padding-right: 113px;
}
header {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.save-share {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    box-shadow: none;
}
 .data {
    margin-top: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(56, 65, 93, 0.355988);
    font-stretch: 100;
}
.title {
    display: flex;
    justify-content: space-between;
}
.title-name {
    max-width: 501px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.75px;
    color: #3A4562;
}
.salary {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1px;
}
.salary span {
    display: flex;
    gap: 1px;
    align-items: center;
}
.salary span:nth-child(2) {
    font-size: 16px;
    font-family: 'Roboto';
}
aside {
    margin-top: 56px;
    width: 402px;
    border-radius: 8px;
}
.contacts {
    display: none;
}
.separator-3 {
    display: none;
}

.company {
    display: flex;
    flex-direction: column;
    background: #2A3047;
    border-radius: 8px;
    color: white;
    text-align: left;
    padding: 31px 0px 31px 62px;
    font-size: 18px;
    height: 218px;
    background-image: url(../../public/circle-bg.svg);
    background-position-y: -2%;
    background-position-x: -250%;
    background-repeat: no-repeat;
}
.company h3 {
    color: white
}
.separator {
    height: 1px;
    width: 100%;
    background: #3A4562;
    mix-blend-mode: normal;
    opacity: 0.13;
}
h2 {
    font-size: 28px;
    color: #3A4562;

}
header h2 {
    width: 250px;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3A4562;
    font-stretch: 100;
}
.employment_type,
.benefits {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.employment_type > p,
.benefits > p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 222px;
    border-radius: 8px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
}
.employment_type > p {
    background: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(85, 105, 158, 0.3);
    color: #55699E;
}
.benefits > p {
    background: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
    color: #988B49;
}
.add-wrapper {
    display: flex;
    flex-direction: column;
}
.image-wrapper {
    margin-top: 12px;
    margin-bottom: 89px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    justify-content: flex-start;
}
.image-wrapper > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.return {
    display: flex;
    height: 50px;
    width: 213px;
    margin-bottom: 162px;
    background: #bdc6db;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
}
.button-wrapper {
    margin-top: 39px;
    margin: bottom 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
}
.apply {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 30px;
    gap: 10px;
    background: #384564;
    border-radius: 8px;
    color: white;
}

@media (max-width: 1024px) {
    .job-details-page {
        flex-direction: column;
    }
    .job-details {
        padding-right: 0px;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .separator :first-child {
        margin-top: -34px;
    }
    .data {
        margin-left: -14.5rem;
    }
    .salary {
        flex-direction: column-reverse;
        min-width: 120px;
        align-items: flex-end;
    }

    #root > div > main > div > div > div > div.button-wrapper > button {
        display: none;
    }
    .title-name {
        min-width: 223px
    }
    .add-wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .image-wrapper {
        margin-bottom: 55px
    }
    .return {
        display: none;
    }
    .contacts {
        display: block;
    }
    .separator-3 {
        display: block;
        margin-bottom: 21px;
    }
    .aside {
        width: 372px;
    }
    .contact-wrapper {
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .company {
        width: 304px;
    }
    aside {
        width: auto;
    }
}