.job-details-page {
    display: flex;
    flex-direction: row; 
    min-height: none;
    width: 100vw;
}

.details {
    padding-right: 113px;
    display: flex;
    flex-direction: column;
    box-shadow: none;
}
aside {
    margin-top: 56px;
    width: 402px;
    border-radius: 8px;
}
.company {
    display: flex;
    flex-direction: column;
    background: #2A3047;
    border-radius: 8px;
    color: white;
    text-align: left;
    padding: 31px 0px 31px 62px;
    font-size: 18px;
    height: 218px;
    background-image: url(../../public/circle-bg.svg);
    background-position-y: -2%;
    background-position-x: -250%;
    background-repeat: no-repeat;
}
.separator {
    height: 1px;
    width: 100%;
    background: #3A4562;
    mix-blend-mode: normal;
    opacity: 0.13;
}