
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: local('Proxima Nova Font'), url(./fonts/Proxima-Nova-Font.otf) format('otf');
}
a {
  text-decoration: none;
}
body {
  background: white;
}