@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
body {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: local('Proxima Nova Font'), url(./fonts/Proxima-Nova-Font.otf) format('otf');
}
